<aside id="left-panel" class="left-panel">
  <navbar-aside></navbar-aside>

</aside>
<!-- /#left-panel -->


<div id="right-panel" class="right-panel">
  <header-dashboard></header-dashboard>

  <div class="breadcrumbs">
    <div class="col-sm-6">
      <div class="page-header float-left">
        <div class="page-title">
          <h1>Usuarios internos de
            <b>{{nameUSer}}</b>
          </h1>

        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="page-header float-right">
        <div class="page-title">
          <ol class="breadcrumb text-right">
            <li>
              <a routerLink="/Dashboard">Dashboard</a>
            </li>
            <li>
              <a>Usuarios</a>
            </li>
            <li class="">
              <a routerLink="/Dashboard/customers">Clientes</a>

            </li>
            <li class="active">
              <a>Usuarios Internos</a>

            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <div class="content mt-3" style="min-height:81vh;">

    <div class=" text-center loading-panel" [hidden]="!loadingMore">
      <div class="dot dot-1"></div>
      <div class="dot dot-2"></div>
      <div class="dot dot-3"></div>

      <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
        <defs>
          <filter id="goo">
            <feGaussianBlur in="SourceGraphic" stdDeviation="11" result="blur" />
            <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 21 -7" />
          </filter>
        </defs>
      </svg>

    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-3" [hidden]="loadingMore">
          <div class="card">
            <div class="card-header">
              <div class="row text-center">
                  <div class="col-md-4">Saldo</div>
                  <div class="col-md-4">Total</div>
                  <div class="col-md-4">llevas</div>
              </div>
            </div>
            <ul class="list-group list-group-flush ">
              <li class="list-group-item text-center">
                <div class="row mt-3">
                  <div class="col-md-4">
                    <img src="../assets/images/mi-personal.png" class="img-fluid" alt="Plan Mi Personal de Confianza">

                  </div>
                  <div class="col-md-4">
                    <h5 class="m-0">{{TotalQueryMipersonal}}</h5>

                  </div>
                  <div class="col-md-4">
                    <h5 class="m-0">{{llevasQueryMipersonal}}</h5>

                  </div>
                </div>
              </li>
              <li class="list-group-item text-center">
                <div class="row mt-3">
                  <div class="col-md-4">
                    <img src="../assets/images/mi-negocio.png" class="img-fluid" alt="Plan Mi Negocio de Confianza">

                  </div>
                  <div class="col-md-4">
                    <h5 class="m-0">{{TotalQueryMiNegocio}}</h5>

                  </div>
                  <div class="col-md-4">
                    <h5 class="m-0">{{llevasQueryMinegocio}}</h5>

                  </div>
                </div>
              </li>
              <li class="list-group-item text-center">
                  <div class="row mt-3">
                    <div class="col-md-4">
                      <img src="../assets/images/mi-personal-corporativo.png" class="img-fluid" alt="Plan Corporativo Mi Personal de Confianza">
  
                    </div>
                    <div class="col-md-4">
                      <h5 class="m-0">{{TotalQueryCorporativo}}</h5>
  
                    </div>
                    <div class="col-md-4">
                      <h5 class="m-0">{{llevasQueryCorporativo}}</h5>
  
                    </div>
                  </div>
                </li>
              
            </ul>
          </div>
          <div class="row text-center">
            <div class="col-md-12 mb-2">
              <button class="btn btn-success w-100">Nuevo Saldo</button>
            </div>
            <div class="col-md-12">
              <button class="btn btn-primary w-100" [hidden]="addNewuser || editUser" (click)='this.addNewuser=true'>Nuevo Usuario</button>
            </div>
          </div>


        </div>
        <div class="col-md-9 ListAdminsAll p-3  text-center" [hidden]="loadingMore || addNewuser || editUser">
          <div [hidden]="usersEmployedCustomer==null">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Cargo</th>
                  <th>Email</th>
                  <th>Creado</th>
                  <th>Estado</th>
                  <th>Saldos</th>
                  <th>Acciones</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of usersEmployedCustomer; let i = index">
                  <td>{{ user.nombre }} {{ user.apellido }} </td>
                  <td>{{ user.cargo||'Usuario Interno' }}</td>
                  <td>{{ user.mail }}</td>
                  <td>{{ user.fecha }}</td>
                  <td class="font-weight-bold" [ngClass]="{'text-success': user.status,'text-danger':!user.status}">{{ user.status?
                    'Activo':'Inactivo' }}</td>
                  <td>
                    <i class="fa fa-bars pointer" (click)="openModalBalances(content,user)" title="Administrar saldos"></i>
                  </td>
                  <td class="font-weight-bold">
                    <i class="fa fa-edit pointer" (click)="openEditUser(user,i)" aria-hidden="true" title="Editar"></i>&nbsp;
                    <i class="ti-trash text-danger  pointer" (click)="removeUser(user,i)" title="Eliminar" aria-hidden="true"></i>&nbsp;


                  </td>

                </tr>
              </tbody>
            </table>
          </div>

          <div class="col-md-12 border-right border-left mt-5 mb-5 display-table text-center" *ngIf="usersEmployedCustomer==null">
            <div class="display-middle">
              <i class="display-fa-error fa fa-exclamation-triangle "></i>
              <h4 class="upper mt-2">{{messageErrorQuery}}</h4>
            </div>
          </div>
        </div>
        <div class="col-md-9 ListAdminsAll p-5  bg-white " [hidden]="!addNewuser">
          <form #newUserInte="ngForm" (ngSubmit)="( !NotEqualsPassword && (PowerPassword!='Débil' && PowerPassword!='' && PowerPassword!=null) ) && onSubmitNewCustomerCompany(newUserInte)">
            <div class="row">
              <div class="col-md-4 offset-md-1">
                <h4>Nuevo Usuario</h4>

                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class=" form-control-label">* Nombre Completo</label>

                      <input type="text" #nombre="ngModel" ngModel name="nombre" class="form-control" [ngClass]="{'is-invalid':newUserInte.submitted && nombre.invalid }"
                        required>
                      <div *ngIf="newUserInte.submitted && nombre.invalid">
                        <small class="form-text text-danger">Nombre Requerido</small>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class=" form-control-label">* Número de identificación</label>

                      <input type="text" #cedula="ngModel" ngModel name="cedula" class="form-control" [ngClass]="{'is-invalid':newUserInte.submitted && cedula.invalid }"
                        required>
                      <div *ngIf="newUserInte.submitted && cedula.invalid">
                        <small class="form-text text-danger">Número de identificación Requerido</small>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class=" form-control-label">*Cargo en la empresa</label>

                      <input type="text" #cargo="ngModel" ngModel name="cargo" class="form-control" [ngClass]="{'is-invalid':newUserInte.submitted && cargo.invalid }"
                        required>
                      <div *ngIf="newUserInte.submitted && cargo.invalid">
                        <small class="form-text text-danger">*Cargo Requerido</small>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class=" form-group">
                      <label class=" form-control-label">* Correo electrónico</label>
                      <input type="email" name="mail" #mail="ngModel" ngModel [ngClass]="{'is-invalid': ( newUserInte.submitted && mail.invalid) }"
                        placeholder="...." class="form-control" required email>
                      <div *ngIf="newUserInte.submitted &&  mail.invalid">
                        <small class="form-text text-danger" *ngIf="mail.errors.required">Correo electrónico requerido</small>
                        <small class="form-text text-danger" *ngIf="mail.errors.email">Correo electrónico inválido</small>
                      </div>
                      <small *ngIf="ExistUser" class="form-text text-danger">
                        Ya está registrado un usuario con este correo electrónico
                      </small>
                    </div>
                  </div>
                </div>


              </div>
              <div class="col-md-4">
                <h4>Datos de Sesión</h4>
                <div class="row">

                  <div class="col-md-12">
                    <label class=" form-control-label">* Contraseña</label>
                    <div class=" form-group">
                      <div class="input-group">
                        <input type="password" name="password1" #password1="ngModel" ngModel (keyup)="ValidatePasswordPower($event);validatePasswordRepeat($event,passwordRepeat1)"
                          [ngClass]="{'is-invalid': (newUserInte.submitted && password1.invalid),'border border-danger': PowerPassword=='Débil','border border-warning': PowerPassword=='Aceptable','is-valid': PowerPassword=='Fuerte','border-none':password1.value=='' && !PowerPassword }"
                          (keydown)="disabledPassErr()" placeholder="******" class="form-control" required>
                        <div class="input-group-addon" [ngClass]="{'is-invalid': (newUserInte.submitted && password1.invalid),'border border-danger': PowerPassword=='Débil','border border-warning': PowerPassword=='Aceptable','border border-success': PowerPassword=='Fuerte'}">
                          <i class="fa" [ngClass]="{'fa-times': (newUserInte.submitted && password1.invalid),'fa-times': PowerPassword=='Débil','fa-check': PowerPassword=='Fuerte' || PowerPassword=='Aceptable', 'fa-asterisk':password1.value=='' }"></i>
                        </div>
                      </div>
                      <small class="form-text font-weight-bold" *ngIf="password1.valid" [ngClass]="{'text-danger': PowerPassword=='Débil','text-warning': PowerPassword=='Aceptable','text-success': PowerPassword=='Fuerte'}">{{PowerPassword}}</small>
                      <div *ngIf="newUserInte.submitted && password1.invalid">
                        <small class="form-text text-danger" *ngIf="password1.errors.required">Contraseña Requerida</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">

                  <div class="col-md-12">
                    <label class=" form-control-label">* Repetir Contraseña</label>

                    <div class=" form-group">
                      <div class="input-group">
                        <input type="password" name="passwordRepeat1" #passwordRepeat1="ngModel" ngModel (keyup)="validatePasswordRepeat($event,password1)"
                          [ngClass]="{'is-invalid': (newUserInte.submitted && passwordRepeat1.invalid) || NotEqualsPassword  }"
                          placeholder="******" class="form-control" required>
                        <div class="input-group-addon" [ngClass]="{'border border-danger':NotEqualsPassword,'border border-success': (!NotEqualsPassword && passwordRepeat1.value!='' )  }">
                          <i class="fa fa-asterisk" [ngClass]="{'fa-times':NotEqualsPassword,'fa-check': (!NotEqualsPassword && passwordRepeat1.value!=''), 'fa-asterisk':passwordRepeat1.value=='' || passwordRepeat1.value==null }"></i>
                        </div>
                      </div>
                      <div *ngIf="newUserInte.submitted && passwordRepeat1.invalid">
                        <small class="form-text text-danger" *ngIf="passwordRepeat1.errors.required">Contraseña Requerida</small>
                      </div>
                      <small *ngIf="NotEqualsPassword" class="form-text text-danger">
                        Contraseñas no coinciden
                      </small>
                    </div>
                  </div>

                </div>
                <div class="row">
                  <div class="col-md-12">
                    <label class=" form-control-label">Estado</label>
                    <div class=" form-group">
                      <label class="switch switch-3d switch-success mr-3">

                        <input type="checkbox" id="checkmodusNew1" name="checkmodusNew" [ngModel]="checkedActivoUser" (change)="changeStatusCustomer()"
                          class="switch-input">
                        <span class="switch-label"></span>
                        <span class="switch-handle"></span>

                      </label> {{statusNewCustomer}}
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
             <hr>
            <div class="row mt-2">
              <div class="col-md-10 offset-md-1">
                <h4>Asignación de Saldo</h4>
                <div class="row mb-2">
                  <div class="col-md-6">
                    Mi Personal de Confianza
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <input type="number" #numQuerysMPC="ngModel" [ngClass]="{'is-invalid': noQueryValidMiPersonal}" ngModel name="numQueryMPC"
                        class="form-control" (keyup)="ChangeBalancesCustomer('MPC',numQuerysMPC.value)" placeholder="...">
                    </div>

                  </div>
                  <div class="col-md-12 mt-0">
                    <small class="form-text text-danger" *ngIf="noQueryValidMiPersonal">
                      La cantidad de consultas debe ser menor a {{TotalQueryMipersonal}}
                    </small>
                  </div>

                </div>
                <div class="row mb-2">
                  <div class="col-md-6">
                    Mi Negocio de Confianza
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <input type="text" #numQuerysMNC="ngModel" ngModel name="numQuerysMNC" (keyup)="ChangeBalancesCustomer('MNC',numQuerysMNC.value)"
                        class="form-control" placeholder="..." [ngClass]="{'is-invalid': noQueryValidMiNegocio}">
                    </div>
                  </div>
                  <div class="col-md-12 mt-0">
                    <small class="form-text text-danger" *ngIf="noQueryValidMiNegocio">
                      La cantidad de consultas debe ser menor a {{TotalQueryMiNegocio}}
                    </small>
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col-md-6">
                    Plan Corporativo - Mi Personal de Confianza
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <input type="text" #numQuerysCMPC="ngModel" ngModel name="numQuerysCMPC" (keyup)="ChangeBalancesCustomer('CMPC',numQuerysCMPC.value)"
                        class="form-control" placeholder="..." [ngClass]="{'is-invalid': noQueryValidCorporativo}">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <small class="form-text text-danger" *ngIf="noQueryValidCorporativo">
                      La cantidad de consultas debe ser menor a {{TotalQueryCorporativo}}
                    </small>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 text-center">
                <button class="btn btn-danger" (click)="this.addNewuser=false" type="submit">Cancelar
                  <i></i>
                </button> &nbsp; &nbsp;
                <button class="btn btn-success" type="submit">Guardar
                  <i></i>
                </button>
              </div>
            </div>

          </form>
        </div>
        <div class="col-md-9 ListAdminsAll p-5  bg-white " [hidden]="!editUser">
          <form [formGroup]="EditUser" (ngSubmit)="onSubmitEditUser(EditUser)">
            <div class="row">
              <div class="col-md-4 offset-md-2">
                <h4>Editar Usuario</h4>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class=" form-control-label">* Nombre Completo</label>

                      <input type="text" formControlName="nombre" class="form-control" [ngClass]="{'is-invalid':EditUser.controls.nombre.invalid }"
                        required>
                      <div *ngIf="EditUser.controls.nombre.invalid">
                        <small class="form-text text-danger">Nombre Requerido</small>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                          <label class=" form-control-label">* Número de identificación</label>
  
                        <input type="text" formControlName="cedula" class="form-control" [ngClass]="{'is-invalid':EditUser.controls.cedula.invalid }"
                          required>
                        <div *ngIf="EditUser.controls.cedula.invalid">
                          <small class="form-text text-danger">* DNI Requerido</small>
                        </div>
  
                      </div>
                    </div>
                  </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class=" form-control-label">*Cargo en la empresa</label>

                      <input type="text" formControlName="cargo" class="form-control" [ngClass]="{'is-invalid': EditUser.controls.cargo.invalid }">
                      <div *ngIf="EditUser.controls.cargo.invalid">
                        <small class="form-text text-danger">*Cargo Requerido</small>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class=" form-group">
                      <label class=" form-control-label">* Correo electrónico</label>
                      <input type="email" id="mail" name="mail" formControlName="mail" [ngClass]="{'is-invalid': EditUser.controls.mail.invalid }"
                        placeholder="...." class="form-control" required email>
                      <div *ngIf="EditUser.controls.mail.invalid">
                        <small class="form-text text-danger" *ngIf="EditUser.controls.mail.errors.required">Correo electrónico
                          requerido
                        </small>
                        <small class="form-text text-danger" *ngIf="EditUser.controls.mail.errors.email">Correo electrónico
                          inválido
                        </small>
                      </div>
                      <small *ngIf="ExistUser" class="form-text text-danger">
                        Ya está registrado un usuario con este correo electrónico
                      </small>
                    </div>
                  </div>
                </div>


              </div>
              <div class="col-md-4">
                <h4>Datos de Sesión</h4>
                
                <div class="row">
                  <div class="col-md-12">
                    <label class=" form-control-label">Estado</label>
                    <div class=" form-group">
                      <label class="switch switch-3d switch-success mr-3">

                        <input type="checkbox" formControlName="checModusEdit" (change)="changeStatusCustomer()" class="switch-input">
                        <span class="switch-label"></span>
                        <span class="switch-handle"></span>

                      </label> {{modusEditUser}}
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 text-center">
                <button class="btn btn-danger" (click)="closeEditForm()" type="submit">Cancelar
                  <i></i>
                </button> &nbsp; &nbsp;
                <button class="btn btn-success" type="submit">Guardar
                  <i></i>
                </button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>

    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title"> <b>Control de Saldos de</b><br> {{CurrentUserBalance}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row text-center">
            <div class="col-md-4 offset-md-0">
              <h5>Plan</h5>
            </div>
            <div class="col-md-6">
              <h5>Administrar Saldos</h5>
            </div>
            <div class="col-md-2">
              <h5>N° de saldos disponibles</h5>
            </div>
          </div>
          <div class="row text-center pt-2 pb-5">
            <div class="col-md-4 offset-md-0">
              <img src="../assets/images/mi-personal.png" width="100" class="img-fluid" alt="Plan Mi personal de Confianza">
            </div>
            <div class="col-md-6 mt-4">
              <div class="row ">


                <div class="col-md-4 offset-md-2">
                  <input type="number" class="form-control" [min]="1" [max]="5000">
                </div>
                <div class="col-md-3  text-center">
                  <div class=" form-group">

                    <label class="switch switch-3d switch-success mr-3">

                      <input type="checkbox" [(ngModel)]="modusPushBalance" (change)="changeModusPushBalance()" class="switch-input">
                      <span class="switch-label bg-danger"></span>
                      <span class="switch-handle"></span>
                      {{modusPushSaldo}}
                    </label>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-2 mt-4">
              <h4>10</h4>
            </div>
            <hr>
          </div>
          <div class="row text-center pt-2 pb-5">
            <div class="col-md-4 offset-md-0">
              <img src="../assets/images/mi-negocio.png" width="100" class="img-fluid" alt="Plan Mi Negocio de Confianza">
            </div>
            <div class="col-md-6 mt-4">
              <div class="row ">


                <div class="col-md-4 offset-md-2">
                  <input type="number" class="form-control" [min]="1" [max]="5000">
                </div>
                <div class="col-md-3  text-center">
                  <div class=" form-group">

                    <label class="switch switch-3d switch-success mr-3">

                      <input type="checkbox" [(ngModel)]="modusPushBalance" (change)="changeModusPushBalance()" class="switch-input">
                      <span class="switch-label bg-danger"></span>
                      <span class="switch-handle"></span>
                      {{modusPushSaldo}}
                    </label>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-2 mt-4">
              <h4>0</h4>
            </div>
            <hr>
          </div>
          <div class="row text-center pt-2 pb-5">
            <div class="col-md-4 offset-md-0">
              <img src="../assets/images/mi-personal-corporativo.png" width="100" class="img-fluid" alt="Plan Mi Negocio de Confianza">
            </div>
            <div class="col-md-6 mt-4">
              <div class="row ">


                <div class="col-md-4 offset-md-2">
                  <input type="number" class="form-control" [min]="1" [max]="5000">
                </div>
                <div class="col-md-3  text-center">
                  <div class=" form-group">

                    <label class="switch switch-3d switch-success mr-3">

                      <input type="checkbox" [(ngModel)]="modusPushBalance" (change)="changeModusPushBalance()" class="switch-input">
                      <span class="switch-label bg-danger"></span>
                      <span class="switch-handle"></span>
                      {{modusPushSaldo}}
                    </label>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-2 mt-4">
              <h4>0</h4>
            </div>
            <hr>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
      </div>
    </ng-template>


  </div>
</div>

<!-- /#right-panel -->