.temp-condition{
  h1, h4{
    margin-top: 50px;
  }
  ol{
    padding-left: 1.5rem;
  }
  table{
    tbody{
      tr{
        td{
          padding: 5px;
          border: 1px solid #f1f1f1;
        }
      }
    }
  }
}
