<aside id="left-panel" class="left-panel">
    <navbar-aside></navbar-aside>
  
  </aside>
  <!-- /#left-panel -->
  
  
  <div id="right-panel" class="right-panel">
    <header-dashboard></header-dashboard>
  
    <div class="breadcrumbs">
      <div class="col-sm-4">
        <div class="page-header float-left">
          <div class="page-title">
            <h1>Clientes Personas naturales</h1>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="page-header float-right">
          <div class="page-title">
            <ol class="breadcrumb text-right">
              <li>
                <a routerLink="/Dashboard">Dashboard</a>
              </li>
              <li>
                <a href="#">Usuarios</a>
              </li>
              <li class="active">Clientes Personas naturales</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  
    <div class="content mt-3">
      <!-- box alerts    -->
      <!-- 
              
              <div class="col-sm-12">
              <div class="alert  alert-success alert-dismissible fade show" role="alert">
                  <span class="badge badge-pill badge-success">Success</span> You successfully read this important alert message.
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
          </div>
      
      -->
  
  
  
      <div class="col-sm-6 col-lg-3">
  
      </div>
  
  
    </div>
  </div>
  
  <!-- /#right-panel -->