<aside id="left-panel" class="left-panel">
  <navbar-aside></navbar-aside>

</aside>
<!-- /#left-panel -->


<div id="right-panel" class="right-panel">
  <header-dashboard></header-dashboard>

  <div class="breadcrumbs">
    <div class="col-sm-4">
      <div class="page-header float-left">
        <div class="page-title">
          <h1>Clientes
            <button routerLink="/Dashboard/customers/create" class="btn btn-breadcrumbs btn-success" style="color:#ffffff !important;">
              Nuevo
              <i class="ti-plus"></i>
            </button>

          </h1>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="page-header float-right">
        <div class="page-title">
          <ol class="breadcrumb text-right">
            <li>
              <a routerLink="/Dashboard">Dashboard</a>
            </li>
            <li>
              <a href="#">Usuarios</a>
            </li>
            <li class="active">Clientes</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <div class="content mt-3" style="min-height:81vh;">

    <div class=" text-center loading-panel" [hidden]="!loadingMore">
      <div class="dot dot-1"></div>
      <div class="dot dot-2"></div>
      <div class="dot dot-3"></div>

      <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
        <defs>
          <filter id="goo">
            <feGaussianBlur in="SourceGraphic" stdDeviation="11" result="blur" />
            <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 21 -7" />
          </filter>
        </defs>
      </svg>

    </div>

    <div class="container " [hidden]="loadingMore">
      <div class="row p-3">

        <div class="ListAdminsAll col-md-12" [hidden]="loadingMore">
          <div class="row">
            <div class="col-md-8 offset-md-2" *ngIf="editCustomer">
              <div class="formCustomerPeople">
                <div class="card">
                  <div class="card-header">
                    <strong class="card-title">Editar Cliente</strong>
                  </div>
                  <div class="card-body">
                    <form [formGroup]="EditCustomer" (ngSubmit)="onSubmitEdtitCustomer(EditCustomer)">
                      <div class="row">

                        <div class="col-md-4 offset-md-1">
                          <img class="rounded-circle img-fluid" [src]="hrefImageUpload2" alt="" width="200">
                          <br>
                          <input class="btn form-control mt-3 text-center" type="file" formControlName="imgProfile" accept="image/x-png,image/gif,image/jpeg"
                            (change)="readUrl($event)" />
                        </div>
                        <div class="col-md-6 ">
                          <div class="row">
                            <div class="col-md-6" [ngClass]="{'col-md-12': EditCustomer.controls.typeIdentification.value=='NIT','col-md-6':EditCustomer.controls.typeIdentification.value!='NIT'}">
                              <div class="form-group">
                                <label class=" form-control-label">Nombres</label>

                                <input type="text" formControlName="nombre" class="form-control" [ngClass]="{'is-invalid':EditCustomer.controls.nombre.invalid }"
                                  required>
                                <div *ngIf="EditCustomer.controls.nombre.invalid">
                                  <small class="form-text text-danger">Nombres Requerido</small>
                                </div>

                              </div>
                            </div>
                            <div class="col-md-6" *ngIf="EditCustomer.controls.typeIdentification.value!='NIT'">
                              <div class="form-group">
                                <label class=" form-control-label">Apellidos</label>

                                <input type="text" formControlName="apellido" class="form-control" [ngClass]="{'is-invalid':EditCustomer.controls.apellido.invalid }"
                                  required>
                                <div *ngIf="EditCustomer.controls.apellido.invalid">
                                  <small class="form-text text-danger">Apellidos Requerido</small>
                                </div>

                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="form-group">
                                <label class=" form-control-label">Dirección de domicilio</label>

                                <input type="text" formControlName="address" placeholder="Calle 12 # 45-26 Bogotá" class="form-control" [ngClass]="{'is-invalid':EditCustomer.controls.address.invalid }">

                              </div>
                            </div>
                          </div>
                          <div class="row" *ngIf="EditCustomer.controls.typeIdentification.value!='NIT'">
                            <div class="col-md-12">
                              <div class="form-group">
                                <label class=" form-control-label">N° de teléfonico de Contacto</label>

                                <input type="text" placeholder="316 866-9379" [textMask]="{mask: mask}" formControlName="phone" placeholder="+57 318 5624"
                                  class="form-control" [ngClass]="{'is-invalid':EditCustomer.controls.phone.invalid }" required>
                                <div *ngIf="EditCustomer.controls.phone.invalid">
                                  <small class="form-text text-danger">Número de teléfono Requerido</small>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <label class=" form-control-label">{{EditCustomer.controls.typeIdentification.value!='NIT'?'Identificación':'NIT'}}</label>

                            </div>
                            <div class="col-md-4" *ngIf="EditCustomer.controls.typeIdentification.value!='NIT'">

                              <select class="custom-select" formControlName="typeIdentification" required>
                                <option *ngFor="let c of typeId;let i= index" [value]="i" [selected]="c.name===EditCustomer.controls.typeIdentification.value">{{c.name}}</option>
                              </select>
                              <div *ngIf="EditCustomer.controls.typeIdentification.invalid">
                                <small class="form-text text-danger">Tipo Requerido</small>
                              </div>
                              <div *ngIf="EditCustomer.controls.typeIdentification.valid">
                                <small class="form-text text-muted">Tipo</small>
                              </div>
                            </div>
                            <div [ngClass]="{'col-md-12': EditCustomer.controls.typeIdentification.value=='NIT','col-md-8':EditCustomer.controls.typeIdentification.value!='NIT'}">
                              <div class="form-group">
                                <input type="text" formControlName="cedula" placeholder="111155555" class="form-control" [ngClass]="{'is-invalid':EditCustomer.controls.cedula.invalid }"
                                  required>
                                <div *ngIf="EditCustomer.controls.cedula.invalid">
                                  <small class="form-text text-danger">Número de identificación requerido</small>
                                </div>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                      <div class="row bg-light p-2">
                        <div class="col-md-12">
                          <h5 class="mt-3">{{EditCustomer.controls.typeIdentification.value!='NIT'?'Información de Sesión':'Información persona
                            de contacto'}}</h5>

                          <div class="col-md-6 offset-md-3" *ngIf="EditCustomer.controls.typeIdentification.value=='NIT'">
                            <div class="form-group">
                              <label class=" form-control-label">Nombre Completo</label>
                              <input type="text" formControlName="contactPerson" class="form-control" [ngClass]="{'is-invalid':submittedFormPeople && newCompanyCustomer.controls.contactPerson.invalid }"
                                required>
                              <div *ngIf="EditCustomer.controls.contactPerson.invalid">
                                <small class="form-text text-danger">Nombre completo Requerido</small>
                              </div>

                            </div>
                          </div>
                          <div class="col-md-6 offset-md-3">
                            <div class=" form-group">
                              <label class=" form-control-label">Correo electrónico</label>
                              <input type="email" id="mail" name="mail" formControlName="mail" id="mail" [ngClass]="{'is-invalid': EditCustomer.controls.mail.invalid }"
                                placeholder="...." class="form-control" required email>
                              <div *ngIf="EditCustomer.controls.mail.invalid">
                                <small class="form-text text-danger" *ngIf="EditCustomer.controls.mail.errors.required">Correo electrónico requerido</small>
                                <small class="form-text text-danger" *ngIf="EditCustomer.controls.mail.errors.email">Correo electrónico inválido</small>
                              </div>
                              <small *ngIf="ExistUser" class="form-text text-danger">
                                Ya está registrado un usuario con este correo electrónico
                              </small>
                            </div>
                            <div class="col-sm-12">
                              <label class=" form-control-label">Estado</label>
                              <div class=" form-group">

                                <label class="switch switch-3d switch-success mr-3">

                                  <input type="checkbox" id="checModusEdit" name="checModusEdit" formControlName="checModusEdit" (change)="changeStatusCustomer()"
                                    class="switch-input">
                                  <span class="switch-label"></span>
                                  <span class="switch-handle"></span>

                                </label> {{statusEditCustomer}}
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6 offset-md-3" *ngIf="EditCustomer.controls.typeIdentification.value=='NIT'">
                            <div class="form-group">
                              <label class=" form-control-label">N° de teléfono</label>
                              <input type="text" placeholder="316 866-9379" [textMask]="{mask: mask}" formControlName="phone" class="form-control" [ngClass]="{'is-invalid':submittedFormPeople && newCompanyCustomer.controls.phone.invalid }"
                                required>
                              <div *ngIf="submittedFormPeople && newCompanyCustomer.controls.phone.invalid">
                                <small class="form-text text-danger">Teléfono Requerido</small>
                              </div>

                            </div>
                          </div>

                        </div>

                      </div>
                      <div class="row">
                        <div class="col-md-12 text-center">
                          <button class="btn btn-danger" (click)="this.editCustomer = false;" type="button">Volver
                            <i></i>
                          </button>
                          <button class="btn btn-success ml-3" type="submit">Guardar
                            <i></i>
                          </button>
                        </div>
                      </div>

                    </form>



                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="!editCustomer">
            <div class="col-lg-4 col-md-6" *ngFor="let customer of ListCustomers; let i = index" [hidden]="(loadingMore && ListCustomers)">
              <div class="feed-box ">
                <section class="card" [ngClass]="{'bg-dark text-light':customer.typeIdentification!='NIT'}">
                  <div class="media media-custom media-customer">
                    <a href="#">
                      <img class="align-self-center rounded-circle mr-3" style="width:75px; height:75px;" alt="Elkin Mendoza" [alt]="customer.typeIdentification!='NIT'? customer.nombre + customer.apellido : customer.nombre"
                        [src]="customer.imgProfile ? customer.imgProfile : hrefImageUploaded">

                    </a>
                    <div class="media-body card-body-custom pb-4 pr-1">
                      <h6 class="display-6 m-0">{{customer.typeIdentification!='NIT'? customer.nombre +' '+ customer.apellido : customer.nombre}} </h6>
                      <p class="m-0 p-0" title="Identificación">
                        <small>
                          <i class="fa" [ngClass]="{' fa-id-card':customer.typeIdentification!='NIT','fa-building':customer.typeIdentification=='NIT'}"
                            aria-hidden="true"></i> {{customer.typeIdentification}} {{customer.cedula}}</small>
                      </p>
                      <p class="m-0 p-0" title="Dirección Fiscal">
                        <small>
                          <i class="fa fa-map-marker" aria-hidden="true"></i> {{customer.address}}</small>
                      </p>
                      <p class="m-0 p-0">
                        <small>
                          <i class="fa fa-phone" aria-hidden="true"></i>{{customer.celular}}</small>
                      </p>
                      <p class="m-0 p-0">
                        <small>
                          Creado: {{customer.fecha}}</small>
                      </p>
                      <span class="badge" [ngClass]="{'badge-success': customer.status,'badge-danger':!customer.status}">{{customer.status?'Activo':'Inactivo'}}</span>

                    </div>

                  </div>
                  <div class="card-footer card-footer-custom border-0 rounded-0">
                    <div class="row text-center m-0 p-0 ">
                      <div class=" p-1 bg-warning pointer text-dark" *ngIf="customer.typeIdentification=='NIT'" [ngClass]="{'col-sm-4': customer.typeIdentification!='NIT','col-sm-3':customer.typeIdentification=='NIT'}"
                        title="Usuarios">
                        <i class="fa fa-users " aria-hidden="true"></i>
                        <br>
                        <small>Usuarios</small>
                      </div>
                      <div class="p-1 pointer text-dark" [ngClass]="{'col-sm-4': customer.typeIdentification!='NIT','col-sm-3':customer.typeIdentification=='NIT'}"
                        title="Saldos">
                        <i class="ti-layout-list-thumb-alt" aria-hidden="true"></i>
                        <br>
                        <small>Saldos</small>

                      </div>
                      <div class="p-1 text-light bg-dark pointer" (click)="editCustomerf(customer,i)" [ngClass]="{'col-sm-4': customer.typeIdentification!='NIT','col-sm-3':customer.typeIdentification=='NIT'}"
                        title="Editar">
                        <i class="fa fa-edit" aria-hidden="true"></i>
                        <br>
                        <small>Editar</small>
                      </div>
                      <div class="p-1 text-light bg-danger pointer" (click)="removeCustomer(customer,i)" [ngClass]="{'col-sm-4': customer.typeIdentification!='NIT','col-sm-3':customer.typeIdentification=='NIT'}"
                        title="Eliminar Cliente">
                        <i class="ti-trash" aria-hidden="true"></i>
                        <br>
                        <small>Eliminar</small>

                      </div>
                    </div>
                  </div>

                </section>
              </div>

            </div>


            <div class="col-md-12 border-right border-left mt-5 mb-5 display-table text-center" *ngIf="ListCustomers==null || ListAdminsnull">
              <div class="display-middle">
                <i class="ti-reload display-1"></i>
                <h4 class="upper mt-3">{{messageErrorQuery}}</h4>
              </div>
            </div>


          </div>

        </div>
      </div>

    </div>


  </div>
</div>

<!-- /#right-panel -->