<aside id="left-panel" class="left-panel">
  <navbar-aside></navbar-aside>

</aside>
<!-- /#left-panel -->


<div id="right-panel" class="right-panel">
  <header-dashboard></header-dashboard>

  <div class="breadcrumbs">
    <div class="col-sm-4">
      <div class="page-header float-left">
        <div class="page-title">
          <h1>Clientes
            <button (click)="backClicked()" class="btn btn-breadcrumbs btn-danger" style="color:#ffffff !important;">
              Cancelar
              <i class="ti-close"></i>
            </button>

          </h1>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="page-header float-right">
        <div class="page-title">
          <ol class="breadcrumb text-right">
            <li>
              <a routerLink="/Dashboard">Dashboard</a>
            </li>
            <li>
              <a href="#">Usuarios</a>
            </li>
            <li class="active">Clientes</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <div class="content mt-3" style="min-height:81vh;">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <label class=" form-control-label">Tipo de Cliente</label>
          <div class=" form-group">

            <label class="switch switch-3d switch-success mr-3">

              <input type="checkbox" id="status" name="status" [ngModel]="checkedActivoUser" (change)="changeModusUser(newCustomerPeople,newCompanyCustomer)" class="switch-input">
              <span class="switch-label bg-primary"></span>
              <span class="switch-handle"></span>

            </label> {{modusNewCustomer}}
          </div>
        </div>
        <div class="col-md-8">
          <div class="formCustomerPeople" [hidden]="modusNewCustomer!='Persona'">
            <div class="card">
              <div class="card-header">
                <strong class="card-title">{{modusNewCustomer}}</strong>
              </div>
              <div class="card-body">
                <form  #newCustomerPeople="ngForm" (ngSubmit)="( !NotEqualsPassword && (PowerPassword!='Débil' && PowerPassword!='' && PowerPassword!=null) ) &&  onSubmitNewCustomerPeople(newCustomerPeople)">
                  <div class="row">

                    <div class="col-md-4 offset-md-1">
                      <img class="rounded-circle img-fluid" [src]="hrefImageUploaded" alt="" width="200">
                      <br>
                      <input class="btn form-control mt-3 text-center" type="file" name="imgProfile" #imgProfile="ngModel" id="imgProfile"
                      ngModel accept="image/x-png,image/gif,image/jpeg"
                        (change)="readUrl($event)" />
                    </div>
                    <div class="col-md-6 ">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class=" form-control-label">Nombres</label>

                            <input type="text" #nombreP="ngModel" name="nombre" id="nombreP" ngModel class="form-control" [ngClass]="{'is-invalid':newCustomerPeople.submitted && nombreP.invalid }"
                              required>
                            <div *ngIf="newCustomerPeople.submitted && nombreP.invalid">
                              <small class="form-text text-danger">Nombres Requerido</small>
                            </div>

                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class=" form-control-label">Apellidos</label>

                            <input type="text" #apellido="ngModel" id="apellido" name="apellido" ngModel class="form-control" [ngClass]="{'is-invalid':newCustomerPeople.submitted && apellido.invalid }"
                              required>
                            <div *ngIf="newCustomerPeople.submitted && apellido.invalid">
                              <small class="form-text text-danger">Apellidos Requerido</small>
                            </div>

                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label class=" form-control-label">Dirección de domicilio</label>

                            <input type="text" #address="ngModel" id="address" name="address" ngModel  placeholder="Calle 12 # 45-26 Bogotá" class="form-control" [ngClass]="{'is-invalid':newCustomerPeople.submitted && address.invalid }">

                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label class=" form-control-label">N° de teléfonico de Contacto</label>

                            <input type="text" placeholder="316 866-9379" [textMask]="{mask: mask}" #phoneP="ngModel" i name="phone" ngModel class="form-control"
                              [ngClass]="{'is-invalid':newCustomerPeople.submitted && phoneP.invalid }"
                              required>
                            <div *ngIf="newCustomerPeople.submitted && phoneP.invalid">
                              <small class="form-text text-danger">Número de teléfono Requerido</small>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <label class=" form-control-label">Identificación </label>

                        </div>
                        <div class="col-md-4">

                          <select class="custom-select" #typeIdentification="ngModel" id="typeIdentification" name="typeIdentification" ngModel [ngClass]="{'is-invalid':newCustomerPeople.submitted && typeIdentification.invalid }" required>
                            <option *ngFor="let c of typeId;let i= index" [value]="c.name" [selected]="i==2">{{c.name}}</option>
                          </select>
                          <div *ngIf="newCustomerPeople.submitted && typeIdentification.invalid">
                            <small class="form-text text-danger">Tipo Requerido</small>
                          </div>
                          <div *ngIf="typeIdentification.valid">
                            <small class="form-text text-muted">Tipo</small>
                          </div>
                        </div>
                        <div class="col-md-8">
                          <div class="form-group">
                            <input type="text" #cedulaP="ngModel" ngModel name="cedula" id="cedula" placeholder="111155555" class="form-control" [ngClass]="{'is-invalid':newCustomerPeople.submitted && cedulaP.invalid }"
                              required>
                            <div *ngIf="newCustomerPeople.submitted && cedulaP.invalid">
                              <small class="form-text text-danger">Número de identificación requerido</small>
                            </div>
                            <div *ngIf="!newCustomerPeople.submitted">
                              <small class="form-text text-muted"> Número de identificación</small>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="row bg-light p-2">
                    <div class="col-md-12">
                      <h5 class="mt-3">Datos de Sesión</h5>
                      <div class="col-md-6 offset-md-3">
                        <div class=" form-group">
                          <label class=" form-control-label">Correo electrónico</label>
                          <input type="email" id="mail" name="mail" #mailP="ngModel" ngModel id="mail" [ngClass]="{'is-invalid': ( newCustomerPeople.submitted && mailP.invalid) }"
                            placeholder="...." class="form-control" required email>
                          <div *ngIf="newCustomerPeople.submitted && mailP.invalid">
                            <small class="form-text text-danger" *ngIf="mailP.errors.required">Correo electrónico requerido</small>
                            <small class="form-text text-danger" *ngIf="mailP.errors.email">Correo electrónico inválido</small>
                          </div>
                          <small *ngIf="ExistUser" class="form-text text-danger">
                            Ya está registrado un usuario con este correo electrónico
                          </small>
                        </div>
                        
                      </div>

                      <div class="col-md-6 offset-md-3">
                        <label class=" form-control-label">Contraseña</label>
            
                        <div class=" form-group">
                          <div class="input-group">
                            <input type="password" id="password" name="password" #password="ngModel" id="password" ngModel (keyup)="ValidatePasswordPower($event);validatePasswordRepeat($event,passwordRepeat)" [ngClass]="{'is-invalid': (newCustomerPeople.submitted && password.invalid),'border border-danger': PowerPassword=='Débil','border border-warning': PowerPassword=='Aceptable','is-valid': PowerPassword=='Fuerte','border-none':password.value=='' && !PowerPassword }" (keydown)="disabledPassErr()" placeholder="******" class="form-control" required>
                            <div class="input-group-addon" [ngClass]="{'is-invalid': (newCustomerPeople.submitted && password.invalid),'border border-danger': PowerPassword=='Débil','border border-warning': PowerPassword=='Aceptable','border border-success': PowerPassword=='Fuerte'}">
                              <i class="fa" [ngClass]="{'fa-times': (newCustomerPeople.submitted && password.invalid),'fa-times': PowerPassword=='Débil','fa-check': PowerPassword=='Fuerte' || PowerPassword=='Aceptable', 'fa-asterisk':password.value=='' }"></i>
                            </div>
                          </div>
                          <small class="form-text font-weight-bold" *ngIf="password.valid" [ngClass]="{'text-danger': PowerPassword=='Débil','text-warning': PowerPassword=='Aceptable','text-success': PowerPassword=='Fuerte'}">{{PowerPassword}}</small>
                          <div *ngIf="newCustomerPeople.submitted && password.invalid">
                            <small class="form-text text-danger" *ngIf="password.errors.required">Contraseña Requerida</small>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 offset-md-3">
                        <label class=" form-control-label">Repetir Contraseña</label>
            
                        <div class=" form-group">
                          <div class="input-group">
                            <input type="password" name="passwordRepeat" #passwordRepeat="ngModel" ngModel (keyup)="validatePasswordRepeat($event,password)"  [ngClass]="{'is-invalid': (newCustomerPeople.submitted && passwordRepeat.invalid) || NotEqualsPassword  }"
                              placeholder="******" class="form-control" required>
                            <div class="input-group-addon" [ngClass]="{'border border-danger':NotEqualsPassword,'border border-success': (!NotEqualsPassword && passwordRepeat.value!='' )  }">
                              <i class="fa fa-asterisk"[ngClass]="{'fa-times':NotEqualsPassword,'fa-check': (!NotEqualsPassword && passwordRepeat.value!=''), 'fa-asterisk':passwordRepeat.value=='' }" ></i>
                            </div>
                          </div>
                          <div *ngIf="newCustomerPeople.submitted && passwordRepeat.invalid">
                            <small class="form-text text-danger" *ngIf="passwordRepeat.errors.required">Contraseña Requerida</small>
                          </div>
                          <small *ngIf="NotEqualsPassword" class="form-text text-danger">
                            Contraseñas no coinciden
                          </small>
                        </div>
                      </div>
                      <div class="col-sm-12 text-center">
                        <label class=" form-control-label">Estado</label>
                        <div class=" form-group">

                          <label class="switch switch-3d switch-success mr-3">

                            <input type="checkbox" [ngModel]="checkedActivoUser" id="checkmodusNew2" name="checkmodusNew"  (change)="changeStatusCustomer()"
                              class="switch-input">
                            <span class="switch-label"></span>
                            <span class="switch-handle"></span>

                          </label> {{statusNewCustomer}}
                        </div>
                      </div>

                    </div>

                  </div>
                  <div class="row">
                    <div class="col-md-12 text-center">
                      <button class="btn btn-success" type="submit">Guardar
                        <i></i>
                      </button>
                    </div>
                  </div>

                </form>



              </div>
            </div>
          </div>
          <div class="formCustomerCompany" [hidden]="modusNewCustomer!='Empresa'">
            <div class="card">
              <div class="card-header">
                <strong class="card-title">{{modusNewCustomer}}</strong>
              </div>
              <div class="card-body">
                <form #newCompanyCustomer="ngForm" (ngSubmit)="( !NotEqualsPassword && (PowerPassword!='Débil' && PowerPassword!='' && PowerPassword!=null) ) && onSubmitNewCustomerCompany(newCompanyCustomer)">
                  <div class="row">

                    <div class="col-md-4 offset-md-1">
                      <img class="rounded-circle img-fluid" [src]="hrefImageUploaded" alt="" width="200">
                      <br>
                      <input class="btn form-control mt-3 text-center" type="file" name="imgProfile" #imgProfile="ngModel" ngModel accept="image/x-png,image/gif,image/jpeg"
                        (change)="readUrl($event)" />
                    </div>
                    <div class="col-md-6 ">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label class=" form-control-label">Nombre</label>

                            <input type="text" #nombre="ngModel" ngModel name="nombre" class="form-control" [ngClass]="{'is-invalid':newCompanyCustomer.submitted && nombre.invalid }"
                              required>
                            <div *ngIf="newCompanyCustomer.submitted && nombre.invalid">
                              <small class="form-text text-danger">Nombre Requerido</small>
                            </div>

                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label class=" form-control-label">Dirección de domicilio</label>

                            <input type="text" #address="ngModel" name="address" ngModel placeholder="Calle 12 # 45-26 Bogotá" class="form-control" [ngClass]="{'is-invalid':newCompanyCustomer.submitted && address.invalid }">

                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <label class=" form-control-label" title="Número de Identificación Tributaria">NIT </label>

                          <div class="form-group">
                            <input type="text" #cedula="ngModel" name="cedula" ngModel placeholder="111155555" class="form-control" [ngClass]="{'is-invalid':newCompanyCustomer.submitted && cedula.invalid }"
                              required>
                            <div *ngIf="newCompanyCustomer.submitted && cedula.invalid">
                              <small class="form-text text-danger">Número de identificación requerido</small>
                            </div>
                            <div *ngIf="!newCompanyCustomer.submitted">
                              <small class="form-text text-muted"> Número de identificación Tributaria</small>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="row bg-light p-2">
                    <div class="col-md-12">
                      <h5 class="m-3">Datos Persona de Contacto</h5>
                    </div>
                    <div class="col-md-6 offset-md-3">
                      <div class="form-group">
                        <label class=" form-control-label">Nombre Completo</label>
                        <input type="text" #contactPerson="ngModel" name="contactPerson" ngModel class="form-control" [ngClass]="{'is-invalid':newCompanyCustomer.submitted && contactPerson.invalid }"
                          required>
                        <div *ngIf="newCompanyCustomer.submitted && contactPerson.invalid">
                          <small class="form-text text-danger">Nombre Requerido</small>
                        </div>

                      </div>
                    </div>

                    <div class="col-md-6 offset-md-3">
                      <div class=" form-group">
                        <label class=" form-control-label">Correo electrónico</label>
                        <input type="email" name="mail" #mail="ngModel" ngModel [ngClass]="{'is-invalid': ( newCompanyCustomer.submitted && mail.invalid) }"
                          placeholder="...." class="form-control" required email>
                        <div *ngIf="newCompanyCustomer.submitted &&  mail.invalid">
                          <small class="form-text text-danger" *ngIf="mail.errors.required">Correo electrónico requerido</small>
                          <small class="form-text text-danger" *ngIf="mail.errors.email">Correo electrónico inválido</small>
                        </div>
                        <small *ngIf="ExistUser" class="form-text text-danger">
                          Ya está registrado un usuario con este correo electrónico
                        </small>
                      </div>
                    </div>
                    
                    <div class="col-md-6 offset-md-3">
                      <label class=" form-control-label">Contraseña</label>
                      <div class=" form-group">
                        <div class="input-group">
                          <input type="password"  name="password1" #password1="ngModel" ngModel (keyup)="ValidatePasswordPower($event);validatePasswordRepeat($event,passwordRepeat1)" [ngClass]="{'is-invalid': (newCompanyCustomer.submitted && password1.invalid),'border border-danger': PowerPassword=='Débil','border border-warning': PowerPassword=='Aceptable','is-valid': PowerPassword=='Fuerte','border-none':password1.value=='' && !PowerPassword }" (keydown)="disabledPassErr()" placeholder="******" class="form-control" required>
                          <div class="input-group-addon" [ngClass]="{'is-invalid': (newCompanyCustomer.submitted && password1.invalid),'border border-danger': PowerPassword=='Débil','border border-warning': PowerPassword=='Aceptable','border border-success': PowerPassword=='Fuerte'}">
                            <i class="fa" [ngClass]="{'fa-times': (newCompanyCustomer.submitted && password1.invalid),'fa-times': PowerPassword=='Débil','fa-check': PowerPassword=='Fuerte' || PowerPassword=='Aceptable', 'fa-asterisk':password1.value=='' }"></i>
                          </div>
                        </div>
                        <small class="form-text font-weight-bold" *ngIf="password1.valid" [ngClass]="{'text-danger': PowerPassword=='Débil','text-warning': PowerPassword=='Aceptable','text-success': PowerPassword=='Fuerte'}">{{PowerPassword}}</small>
                        <div *ngIf="newCompanyCustomer.submitted && password1.invalid">
                          <small class="form-text text-danger" *ngIf="password1.errors.required">Contraseña Requerida</small>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6 offset-md-3 ">
                      <label class=" form-control-label">Repetir Contraseña</label>
          
                      <div class=" form-group">
                        <div class="input-group">
                          <input type="password" name="passwordRepeat1"  #passwordRepeat1="ngModel" ngModel (keyup)="validatePasswordRepeat($event,password1)"  [ngClass]="{'is-invalid': (newCompanyCustomer.submitted && passwordRepeat1.invalid) || NotEqualsPassword  }"
                            placeholder="******" class="form-control" required>
                          <div class="input-group-addon" [ngClass]="{'border border-danger':NotEqualsPassword,'border border-success': (!NotEqualsPassword && passwordRepeat1.value!='' )  }">
                            <i class="fa fa-asterisk"[ngClass]="{'fa-times':NotEqualsPassword,'fa-check': (!NotEqualsPassword && passwordRepeat1.value!=''), 'fa-asterisk':passwordRepeat1.value=='' }" ></i>
                          </div>
                        </div>
                        <div *ngIf="newCompanyCustomer.submitted && passwordRepeat1.invalid">
                          <small class="form-text text-danger" *ngIf="passwordRepeat1.errors.required">Contraseña Requerida</small>
                        </div>
                        <small *ngIf="NotEqualsPassword" class="form-text text-danger">
                          Contraseñas no coinciden
                        </small>
                      </div>
                    </div>
                    <div class="col-md-6 offset-md-3">
                      <div class="form-group">
                        <label class=" form-control-label">N° de teléfono</label>
                        <input type="text" placeholder="316 866-9379" [textMask]="{mask: mask}" #phone="ngModel" ngModel name="phone" class="form-control"
                          [ngClass]="{'is-invalid':newCompanyCustomer.submitted && phone.invalid }" required>
                        <div *ngIf="newCompanyCustomer.submitted && phone.invalid">
                          <small class="form-text text-danger">Teléfono Requerido</small>
                        </div>

                      </div>
                    </div>
                    <div class="col-md-6 offset-md-3">
                      <label class=" form-control-label">Estado</label>
                      <div class=" form-group">
                        <label class="switch switch-3d switch-success mr-3">

                          <input type="checkbox" id="checkmodusNew1" name="checkmodusNew" [ngModel]="checkedActivoUser" (change)="changeStatusCustomer()"
                            class="switch-input">
                          <span class="switch-label"></span>
                          <span class="switch-handle"></span>

                        </label> {{statusNewCustomer}}
                      </div>
                    </div>

                  </div>

                  <div class="row">
                    <div class="col-md-12 text-center">
                      <button class="btn btn-success" type="submit">Guardar
                        <i></i>
                      </button>
                    </div>
                  </div>

                </form>



              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>
</div>

<!-- /#right-panel -->