<aside id="left-panel" class="left-panel">
  <navbar-aside></navbar-aside>

</aside>
<!-- /#left-panel -->


<div id="right-panel" class="right-panel">
  <header-dashboard></header-dashboard>

  <div class="breadcrumbs">
    <div class="col-sm-4">
      <div class="page-header float-left">
        <div class="page-title">
          <h1>Administradores
            <button (click)="openFormAdmins()" [ngClass]="{'btn-success': !addAdmin,'btn-danger':addAdmin}" class="btn btn-breadcrumbs"
              style="color:#ffffff !important;">
              {{ !addAdmin ? 'Nuevo' : 'Cancelar' }}
              <i [ngClass]="{'ti-plus': !addAdmin,'ti-close':addAdmin}"></i>
            </button>
          </h1>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="page-header float-right">
        <div class="page-title">
          <ol class="breadcrumb text-right">
            <li>
              <a routerLink="/Dashboard">Dashboard</a>
            </li>
            <li>
              <a href="#">Usuarios</a>
            </li>
            <li class="active">Administradores</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <div class="content mt-3" style="min-height:81vh;">
    <div class=" text-center loading-panel" [hidden]="!loadingMore">
      <div class="dot dot-1"></div>
      <div class="dot dot-2"></div>
      <div class="dot dot-3"></div>

      <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
        <defs>
          <filter id="goo">
            <feGaussianBlur in="SourceGraphic" stdDeviation="11" result="blur" />
            <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 21 -7" />
          </filter>
        </defs>
      </svg>

    </div>
    <div class="container " [hidden]="loadingMore">
      <div class="row p-3">
        <div class="formAdmin" [hidden]='!addAdmin' [ngClass]="{'col-md-4':addAdmin }">
          <app-users-form [rolUser]="RoleUser" (CloseFormtUserAdmin)="receiveMessage($event)"></app-users-form>

        </div>
        <div class="formAdmin" [hidden]='!EditAdmin' [ngClass]="{'col-md-4':EditAdmin }">
          <div class="container bg-light container-form">
            <form class="form-horizontal" [formGroup]="EditUser" (ngSubmit)="EditUser.valid && onSubmitEditUser(EditUser)">
              <div class="row">
                <div class="col-md-12 text-center">
                  <img class="rounded-circle img-fluid" [src]="hrefImageUpload2" alt="" width="200">
                  <br>
                  <input class="btn form-control mt-3 text-center" type="file" formControlName="imageProfile" accept="image/x-png,image/gif,image/jpeg"
                  (change)="readUrl($event)" />
                </div>
                <div class="col-md-12">
                  <div class="row ">
                    <div class="col-md-10 offset-md-1">
                      <div class="form-group">
                        <label class=" form-control-label">Nombres</label>

                        <input type="text" formControlName="nombre" class="form-control" [ngClass]="{'is-invalid':EditUser.controls.nombre.invalid }"
                          required>
                        <div *ngIf="EditUser.controls.nombre.invalid">
                          <small class="form-text text-danger">Nombres Requerido</small>
                        </div>

                      </div>
                    </div>
                    <div class="col-md-10 offset-md-1">
                      <label class=" form-control-label">Apellidos</label>

                      <div class="form-group">
                        <input type="text" formControlName="apellido" class="form-control" [ngClass]="{'is-invalid': EditUser.controls.apellido.invalid }"
                          required>

                        <div *ngIf="EditUser.controls.apellido.invalid">
                          <small class="form-text text-danger">*Apellidos Requerido</small>
                        </div>

                      </div>

                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-10 offset-md-1">
                      <label class=" form-control-label">Correo Electrónico</label>
                      <div class=" form-group">
                        <div class="input-group">
                          <div class="input-group-addon" [ngClass]="{'is-invalid': (EditUser.controls.mail.invalid) }">
                            <i class="fa fa-user"></i>
                          </div>
                          <input type="email" id="mail" name="mail" formControlName="mail" id="mail" [ngClass]="{'is-invalid': (EditUser.controls.mail.invalid) }"
                            placeholder="AndresIniesta@gmail...." class="form-control" required email>
                        </div>
                        <div *ngIf="EditUser.controls.mail.invalid">
                          <small class="form-text text-danger" *ngIf="EditUser.controls.mail.errors.required">Correo electrónico requerido</small>
                          <small class="form-text text-danger" *ngIf="EditUser.controls.mail.errors.email">Correo electrónico inválido</small>
                        </div>
                        <small *ngIf="ExistUser" class="form-text text-danger">
                          Ya está registrado un usuario con este correo electrónico
                        </small>
                      </div>
                    </div>
                  </div>
                  <div class="row text-center">
                    <div class="col-md-12 text-center" >
                        <h6>Cambiar Contraseña</h6>
                    </div>
                  </div>
                  <div class="row">

                    <div class="col-md-10 offset-md-1 ">
                      <label class=" form-control-label"> Contraseña</label>
                      <div class=" form-group">
                        <div class="input-group">
                          <input type="password" name="passwordUserRepeat1" formControlName="passwordUserRepeat1" id="passwordUserRepeat1" [ngClass]="{'is-invalid': EditUser.controls.passwordUserRepeat1.invalid }"
                            placeholder="******" class="form-control" >
                          <div class="input-group-addon">
                            <i class="fa fa-asterisk"></i>
                          </div>
                        </div>
                        <div *ngIf="EditUser.controls.passwordUserRepeat1.value!=EditUser.controls.passwordUserRepeat.value">
                          <small class="form-text text-danger" >Contraseña no coinciden</small>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-10 offset-md-1 ">
                      <label class=" form-control-label">Repetir Contraseña</label>
                      <div class=" form-group">
                        <div class="input-group">
                          <input type="password" name="passwordUserRepeat" formControlName="passwordUserRepeat" id="passwordUserRepeat" [ngClass]="{'is-invalid': EditUser.controls.passwordUserRepeat.invalid }"
                            placeholder="******" class="form-control">
                          <div class="input-group-addon">
                            <i class="fa fa-asterisk"></i>
                          </div>
                        </div>
                        <div *ngIf="EditUser.controls.passwordUserRepeat1.value!=EditUser.controls.passwordUserRepeat.value">
                          <small class="form-text text-danger">Contraseña no coinciden</small>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row text-center">
                    <div class="col-sm-12">
                      <label class=" form-control-label">Estado</label>
                      <div class=" form-group">

                        <label class="switch switch-3d switch-success mr-3">

                          <input type="checkbox" id="checModusEdit" name="checModusEdit" formControlName="checModusEdit" (change)="changeModusUser()"
                            class="switch-input">
                          <span class="switch-label"></span>
                          <span class="switch-handle"></span>

                        </label> {{modusEditUser}}
                      </div>
                    </div>
                  </div>

                  <div class="row text-center">
                    <div class="col-md-10 offset-md-1">
                      <button class="btn btn-danger" type="button" (click)="clearForm()">Cancelar</button>
                    </div>
                    <div class="col-md-10 offset-md-1 row-form">
                      <button class="btn btn-success" type="submit">Guardar
                        <i></i>
                      </button>
                    </div>

                  </div>



                </div>
                <div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="ListAdminsAll" [ngClass]=" {'col-md-12': !ListAllInfo ,'col-md-8':addAdmin || EditAdmin }">
          <div class="row">

            <div class="col-lg-4 col-md-6" *ngFor="let admin of ListAdmins; let i = index" [hidden]="loadingMore && ListAdmins">
              <div class="feed-box ">
                <section class="card">
                  <div class="media media-custom">
                    <a href="#">
                      <img class="align-self-center rounded-circle mr-3" [ngClass]="{'d-none':addAdmin || EditAdmin }" style="width:75px; height:75px;"
                        alt="{{admin.nombre +' '+ admin.apellido}}" [src]="admin.imageProfile ? admin.imageProfile : hrefImageUploaded">

                    </a>
                    <div class="media-body">
                      <h5 class="display-6 m-0">{{admin.nombre +' '+ admin.apellido}}</h5>
                      <p class="m-0 p-0">{{RoleUser}}</p>
                      <span class="badge " [ngClass]="{'badge-success':admin.status,'badge-danger':!admin.status}">{{admin.status ? 'Activo':'Inactivo'}}</span>
                    </div>
                  </div>
                  <div class="card-body">

                    <div class="corner-ribon black-ribon pointer" (click)="editAdminUser(admin,i)" title="Editar {{RoleUser}}">
                      <i class="fa fa-edit"></i>
                    </div>
                    <hr>
                    <div class="card-text m-0">
                      <p class="m-0 float-right color-danger">
                        <small> Creado: {{admin.fecha}} </small>
                      </p>
                      <a (click)="removeAdmin(admin,i)" title="Eliminar {{RoleUser}}" class="float-left pointer">
                        <i class="ti-trash text-danger"></i>
                      </a>


                    </div>
                  </div>
                </section>
              </div>
            </div>

            <div class="col-md-12 border-right border-left mt-5 mb-5 display-table text-center" *ngIf="ListAdmins==null || ListAdminsnull" >
              <div class="display-middle">
                <i class="ti-reload display-1"></i>
                <h4 class="upper mt-3">{{messageErrorQuery}}</h4>
              </div>
            </div>


          </div>

        </div>
      </div>

    </div>


  </div>
</div>

<!-- /#right-panel -->