
.tabs{
    width: 100%;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
    padding: 0 0 0px !important;
    margin: 0px !important;
    list-style: none;
    // background-color: #fff;
    li{
        transition: all 1s;
        padding: .7rem;
        text-align: center;
        display: inline-block;
        cursor: pointer;
        border-bottom: 3px solid transparent;
        a{
            position: relative;
            cursor: pointer;
        }
    }
    li:hover{
        border-color: #80CBC4;
    }
    .tab-active{
        border-color: #009688 !important;
    }
}
[tab-content]{
    display: none;
    min-height: 300px;
}
.las-pestanas{display: none;}
#data-tabs{
    min-height: 442px;
    background-color: #fff;
    .item{
        margin: 0 0 14px;
        border-radius: 4px;
        overflow: hidden;
    }
}
.title-list{
    padding: 0;
    h5{
        text-align: justify !important;
        color: #fff;
    }
}
